:root {
  --title-margin: 500px;
}

@font-face {
  font-family: "Minecraft";
  src: url("../assets/font/Minecraft/minecraft.eot?") format("eot"),
    url("../assets/font/Minecraft/minecraft.woff") format("woff"),
    url("../assets/font/Minecraft/minecraft.ttf") format("truetype"),
    url("../assets/font/Minecraft/minecraft.svg#Minecraft") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Minecraft";
}


input::placeholder{
    font-family: 'Minecraft';
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: auto;
  width: auto;
}

.error-message {
  border: 3px solid red;
  padding: 10px;
}

/*Les lignes de codes si dessous sont tirées du site http://charliecowan.co.uk/mcbuttongenerator/ pour l'apparence du bouton*/

.button {
  height: 10%;
  width: 50%;
  background-image: url("http://charliecowan.co.uk/mcbuttongenerator/button_center.png");
  background-repeat: repeat;
  padding: 0;
  font-family: Minecraft;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4c4c4c;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #aaa;
  border-top: 2px solid #aaa;
  box-sizing: border-box;
  font-size: 16px;
}

.button:hover {
  border-bottom: 4px solid #59639a;
  border-right: 2px solid #59639a;
  border-left: 2px solid #bdc6ff;
  border-top: 2px solid #bdc6ff;
  background-image: url("http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png");
  color: #ffffa0;
}


.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  
}

.login-info{
  margin: 150px;
  width: 70%
}

.login-info>form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form>div,input{
  margin: 25px;
  padding: 10px;
}