/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

:root {
  --card-width: 170px;
  --card-info-width: 150px;
}

@font-face {
  font-family: "Minecraft";
  src: url("../assets/font/Minecraft/minecraft.eot?") format("eot"),
    url("../assets/font/Minecraft/minecraft.woff") format("woff"),
    url("../assets/font/Minecraft/minecraft.ttf") format("truetype"),
    url("../assets/font/Minecraft/minecraft.svg#Minecraft") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Minecraft";
}

body {
  margin: 0px;
}

input::placeholder {
  font-family: "Minecraft";
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: auto;
  width: auto;
}

.login {
  background-image: url("../assets/backgrounds/login.jpg");
  background-repeat: no-repeat;
}

.error-message {
  border: 3px solid red;
  padding: 10px;
}

/*Les lignes de codes si dessous sont tirées du site http://charliecowan.co.uk/mcbuttongenerator/ pour l'apparence du bouton*/

.button {
  height: 10%;
  width: 50%;
  background-image: url("http://charliecowan.co.uk/mcbuttongenerator/button_center.png");
  background-repeat: repeat;
  padding: 0;
  font-family: Minecraft;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4c4c4c;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #aaa;
  border-top: 2px solid #aaa;
  box-sizing: border-box;
  font-size: 16px;
}

.button:hover {
  border-bottom: 4px solid #59639a;
  border-right: 2px solid #59639a;
  border-left: 2px solid #bdc6ff;
  border-top: 2px solid #bdc6ff;
  background-image: url("http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png");
  color: #ffffa0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.login-info {
  margin: 150px;
  width: 70%;
}

.login-info > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div,
input {
  margin: 15px;
  padding: 10px;
}

form > div > button {
  padding: 10px;
}

.chat-container {
  margin: 0;
  height: 100vh;
  background-image: url("../assets/backgrounds/chat.jpg");
}

.chat-button {
  justify-content: center;
  align-items: center;
  display: flex;
}

.chat-button > form {
  width: 600px;
  height: 400px;
  display: flex;
}

.chat-button > form > button {
  margin: 25px;
}

iframe {
  position: fixed;
  bottom: 0;
  left: 0;
}

.UI {
  display: flex;
  flex-direction: column;
}

.game-ui-ennemy {
  height: 110px;
  background-color: grey;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.game-cards-ennemy,
.game-cards-player {
  flex-direction: row;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 15px;
  height: 275px;
}
.game-cards-ennemy {
  padding-top: 0;
}

.game-cards-player {
  padding-bottom: 0;
}

.game-cards-ennemy > div,
.game-cards-player > div {
  margin: 15px;
}

.game-ui-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 275px;
  background-color: gray;
}

.gup-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
}
.gup-numbers > div {
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;

  text-align: center;
  margin: 15px;

  align-items: center;
  height: 50px;
  width: 50px;
}

.gup-numbers > div > span {
  display: inline-block;
}

.health {
  background-image: url("../assets/UI/newHealth.png");
  margin-top: 10px;
}

.tour {
  background-image: url("../assets/UI/newOrb.png");
}

.cards-remaining {
  background-image: url("../assets/UI/newBook.png");
}

.gup-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gup-button > button,
.gup-button > form > button {
  margin: 15px;
  width: 100px;
  height: 50px;
}

.gup-cards {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;

  width: 1200px;
  padding: 15px;
  height: fit-content;
}
.gup-cards > div {
  margin-inline-start: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 245px;
  width: var(--card-width);
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 12px;
  background-image: url("../assets/UI/block-minecraft-wallpaper-680x382.jpg");
  background-size: cover;
  color: white;
}

.card-picture {
  height: 85px;
  width: var(--card-info-width);

  background-size: cover;

  margin: 0 5px 5px 5px;
  border: white 2px solid;
}

.card-info {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: var(--card-info-width);
  padding-bottom: 3px;
}

.card-header {
  width:200px;
  height:30px;
  display:inline-block;  
  
  position: relative;
  margin: 5px;
}


.card-cost {
  background-image: url("../assets/UI/newOrb.png");
  background-size:45px;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  
  top: 0;
  left: 0;
  width: 45px;
  height: 30px;
  padding-left: 10px;
  margin-left: 20px;
  
}

.card-taunt {
  background-image: url("../assets/UI/test.png");
  background-size:40px;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  
  
  right: 0;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  
  visibility: hidden;
 
}

.card-stats {
  display: flex;
  justify-content: space-around;
  width: var(--card-info-width);
  height: 35px;
  padding-top: 8px;
  color: white;
}

.card-health {
  background-image: url("../assets/UI/newHealth.png");
  background-size: 35px;
  background-position: left;
  width: 35px;
}

.card-attack {
  background-image: url("../assets/UI/attack-removebg-preview.png");
  background-size: 35px;
  background-position: center center;
  width: 35px;
}

.cardPossibleToPlay {
  border: green 2px solid;
}

.error-message{
  color: red;
  position: absolute;
  top: 50;
  padding:0;
  margin: 0;
  visibility: hidden;
}
