/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

@font-face {
  font-family: "Minecraft";
  src: url("../assets/font/Minecraft/minecraft.eot?") format("eot"),
    url("../assets/font/Minecraft/minecraft.woff") format("woff"),
    url("../assets/font/Minecraft/minecraft.ttf") format("truetype"),
    url("../assets/font/Minecraft/minecraft.svg#Minecraft") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Minecraft";
}

body {
  margin: 0px;
}

input::placeholder {
  font-family: "Minecraft";
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: auto;
  width: auto;
}

.login {
  background-image: url("../assets/backgrounds/login.jpg");
  background-repeat: no-repeat;
}

.error-message {
  border: 3px solid red;
  padding: 10px;
}

/*Les lignes de codes si dessous sont tirées du site http://charliecowan.co.uk/mcbuttongenerator/ pour l'apparence du bouton*/

.button {
  height: 10%;
  width: 50%;
  background-image: url("http://charliecowan.co.uk/mcbuttongenerator/button_center.png");
  background-repeat: repeat;
  padding: 0;
  font-family: Minecraft;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4c4c4c;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #aaa;
  border-top: 2px solid #aaa;
  box-sizing: border-box;
  font-size: 16px;
}

.button:hover {
  border-bottom: 4px solid #59639a;
  border-right: 2px solid #59639a;
  border-left: 2px solid #bdc6ff;
  border-top: 2px solid #bdc6ff;
  background-image: url("http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png");
  color: #ffffa0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.login-info {
  margin: 150px;
  width: 70%;
}

.login-info > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div,
input {
  margin: 15px;
  padding: 10px;
}

form > div > button {
  padding: 10px;
}

.chat-container {
  margin: 0;
  height: 100vh;
  background-image: url("../assets/backgrounds/chat.jpg");
}

.chat-button {
  justify-content: center;
  align-items: center;
  display: flex;
}

.chat-button > form {
  width: 600px;
  height: 400px;
  display: flex;
}


.chat-button > form > button {
  margin: 25px;
}

iframe{
  position: fixed;
  bottom: 0;
  left: 0;
  
}

.UI{
  display:flex;
  flex-direction: column;
}

.game-ui-ennemy{
  height: 200px;
}

.game-board{
  height: 500px;
}

.game-ui-player{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  bottom:0;
  position:fixed;
  width:100%;
  background-color: gray;
}


.gup-numbers{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:120px;
  
}
.gup-numbers>div{
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: middle;
  
  text-align: center;
  margin: 15px;
  
  align-items: center;
  height: 50px;
  width: 50px;
}

.gup-numbers>div>span {
 
  display: inline-block;
}

.health{
  background-image:url("../assets/UI/newHealth.png"); 
  margin-top: 10px;
}



.tour{
  background-image:url("../assets/UI/newOrb.png");
  
}

.cards-remaining{
  background-image:url("../assets/UI/newBook.png");
  
}

.gup-button> form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.gup-button>form>button{
  margin: 15px;
  width: 100px;
  height: 50px;
  
}

.gup-cards{
  display:flex;
  flex-direction:row;
  justify-content:center;
  vertical-align:middle;
  width:fit-content;
}